@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.App {
    font-family: 'Nunito Sans', sans-serif;
    /* overflow-x: hidden; */
}

/* Calender custom styles */
.calender .sc-kpDqfm {
    min-width: 500px !important;
    /* max-width: 500px !important; */
    padding: 30px 0 !important;
}

.calender .sc-kAyceB {
    font-weight: 600;
}

.calender .sc-dhKdcB {
    width: 50% !important;
    padding: 0 20px !important;
}

.sc-gEvEer {
    height: 30px !important;
    width: 30px !important;
}

.sc-gEvEer {
    height: 35px !important;
    width: 35px !important;
}

/* Custom media query for calender */
@media screen and (max-width: 640px) {
    .calender .sc-dhKdcB {
        display: block !important;
        width: 100% !important;
    }

    .calender .sc-kpDqfm {
        min-width: 200px !important;
    }

    .sc-jXbUNg {
        /* margin: 0 auto !important; */
    }
}